
#element::-webkit-scrollbar { 
    display: none; 
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

select::-ms-expand {
  display: none;
}
::-webkit-scrollbar { 
    display: none; 
}
details > summary {
    list-style: none;
}
details > summary::marker {
    display: none;
}
body{
    margin: 0;
    background-color: #212529;
    color:#E9ECEF;
    font-family: 'Roboto', sans-serif;
}
.header{
    width: 100%;
    height: 50px;
    background-color: #343A40;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}
.ico-left{
    margin-left: 15px;
    width: 24px;
}
.ico-right{
    margin-right: 15px;
    width: 24px;
}
.list-fucul{
    display: flex;
    width: 100%;
    height: 70px;
    background-color: #343A40;
    align-items: center;
    overflow-y: hidden;
    overflow-x: auto;
    margin-bottom: 5px;
}
.facul{
    min-width: 50px;
    width: 50px;
    height: 50px;
    border-radius:25px;
    background-color: #6C757D;
    margin-left: 10px;
}
.post{
    background-color: #343A40;
    margin-bottom: 5px;
}
.post-heaser{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    align-items: center;
}
.futer-post-like-date{
    display: flex;
    border-top: 1px solid #495057;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    align-items: center;
}
.info-Text-Post{
    margin: 10px 15px 10px 15px;
    font-size: 14px;
}
.name-post{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
}
.futer-post{
    width: 100%;
}
.name-ico-fuck-post{
    display: flex;
    margin-left: 15px;
    align-items: center;
}
.like-post{
    display: flex;
    margin-left: 15px;
    align-items: center;
}
.date-post{
    margin-right: 15px;
}
.ava-fack-post{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-right: 10px;
}
.photo-Post{
    width: 100%;
}
.like{
    width: 25px;
}
.none{
    display: none;
}
.date-post{
    font-size: 14px;
}
.help-post{
    font-size: 12px;
    color: #6C757D;
}
.left-panel{
    width: 80%;
    height: 100vh;
    background-color: #343A40;
    position: fixed;
    z-index: 5;
}
a{
    text-decoration: none;
}
.oveh{
    overflow: hidden;
}
.opas{
    opacity: 0.5;
}
.link-list-LP{
    border-top:1px solid #495057;
    padding: 10px 0px 10px 0px;
    color: #E9ECEF;
    margin-top: -5px;
    border-bottom: 1px solid #495057;
}
.item-link-list{
    display: flex;
    align-items: center;
    color: #E9ECEF;
}
.item-link{
    padding: 10px 0px 10px 15px;
}
.item-link:hover{
    background-color: #495057;
    align-items: center;
}
.ico-LP{
    margin-right: 10px;
}
.name-Pagese-LP{
    margin-left: 15px;
    font-size: 18px;
}
.ico-left-LP{
    margin-right: 15px;
}
.suport-input{
    width: 100%;
    height: 50px;
    background-color: #343A40;
    position: fixed;
    z-index: 4;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-messege-sprt{
    margin-right: 5px;
    margin-left: 5px;
}
.btn-attech-sprt{
    margin-left: 5px;
    margin-right: 5px;
}
.btn-attech-ico{
    height: 35px;
}
.btn-messege-ico{
    height: 35px;
}
.input-sptr{
    width: 100%;
}
.input-sptr-style{
    width: 90%;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #495057;
    padding: 10px 10px 10px 10px;
    font-size: 16px;
    color: #E9ECEF;
    background-color: #343A40;
    outline: 0;
}
.page-suport{
    height: 100%;
}
.suport-messege-list{
    position: fixed;
    bottom: 50px;
    top: 50px;
    z-index: -1;
    width: 100%
}
.view-messege{
    background-color: #343A40;
    padding: 10px 10px 20px 10px;
    margin-left: 10px;
    max-width: 200px;
    border-radius: 15px;
    min-width: 30px;
    margin-bottom: 5px;
    margin-top: 5px;
    overflow-wrap: break-word;
}
.time-massege{
    float: right;
    font-size: 12px;
    color: #6C757D;
}
.blok-list-messege{
    height: 100%;
    overflow: auto;
}
.form-post{
    text-align: center;
    background-color: #343A40;
    padding: 10px 15px 10px 15px;
}
.block-input-FP{
    width: 100%;
    text-align: center;
}
.input-FP{
    font-size: 16px;
    color: #E9ECEF;
    border: 1px solid #495057;
    background-color: #343A40;
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
    width: 90%;
    min-width: 90%;
    max-width: 90%;
    margin: 10px 0px 10px 0px;
    outline: none;
}
.textarea-FP{
    max-height: 200px;
    min-height: 200px;
    overflow: auto;
}
.btn-FP{
    font-size: 16px;
    color: #E9ECEF;
    border: 1px solid #495057;
    background-color: #495057;
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
    width: 96%;
    margin: 10px 0px 10px 0px;
}
.slt-FP{
    font-size: 16px;
    color: #E9ECEF;
    border: 1px solid #495057;
    background-color: #495057;
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
    width: 96%;
    margin: 10px 0px 10px 0px;
    outline: none;
    text-align: center;
}